// -----------------------------
// Base

@import 'reset'



// -----------------------------
// Mixins

@import 'mixins'


webfont('circularStd' , 'CircularStd-Bold', true, 'bold', 'normal')
webfont('circularStdItalic' , 'CircularStd-Bold-Italic', true, 'bold', 'Italic')
// -----------------------------
// Imports

@import '../layout/layout'

body
  font-family circularStd

.Logo
  width 100%
