// -----------------------------
// Base

@import 'reset'

$turquoise = #1fc3cd
$darkpurple = #5c74c0
$lightblue = #7fbee8
$lightpurple = #bc76b2

// -----------------------------
// Mixins

@import 'mixins'

webfont('circularStdNormal' , 'circularstd-book', true, 'normal', 'normal')
webfont('circularStd' , 'CircularStd-Bold', true, 'bold', 'normal')
webfont('circularStdItalic' , 'CircularStd-BookItalic', true, 'bold', 'Italic')
// -----------------------------
// Imports

@import '../layout/layout'

w = (160px / 3)
h = (190px / 3)

body
  font-family circularStd
	position relative
a
  text-decoration none
video
  background white
.example-enter
	opacity 0.01
  transition opacity .5s ease-in


.example-enter.example-enter-active
  opacity 1


.example-leave
  opacity 1
  transition opacity .5s ease-in


.example-leave.example-leave-active
  opacity 0.01


html body
  height 100%

/***** HOME *****/

.intro
  width 100%
  display block
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

/***** LOGIN *****/
.formContainer
  position relative
  width 80%
  margin-top 40%
  margin-left 10%
.logLogo
  animation opacityTranslation .2s ease-in forwards
.Logo
  width 80%
  //margin-left 10%
  opacity
  animation opacityTranslation .5s ease-in forwards
.buttonLog
  opacity 0
  animation opacityTranslation .5s ease-in forwards
.inputForm
  opacity 0
  animation opacityTranslation .5s ease-in forwards
.inputForm:nth-child(1)
  animation-delay .1s
.inputForm:nth-child(2)
  animation-delay .2s
.picto
  width 6%
.pictoimg:nth-child(2n)
  float right
form
  margin-top 15%
  display inline-block
  width 100%
input
  text-align center
  width 98%
  font-size 1.2em
  color #5c74c0
  margin-left 2%
  border none
.inputForm
  width 100%
  position relative
  margin-top 10%
  display inline-block
  border-bottom solid 2px $darkpurple
.inputP
  width 80%
  display inline-block
  margin-left: 3%;
  margin-right: 3%;

.buttonLog
  margin-top 30px
  border solid 2px $turquoise
  color $turquoise
  border-radius 20px
  width 60%
  margin-left 20%
  background white
input
 font-family circularStdNormal
 color #5c74c0
/***** MENU *****/

.menu
	width 90%
.item
	width 45%
	margin-top 5%
	margin-left 3.3%
	display inline-block

.menuHeaderImg
  opacity 0
  animation opacityTranslation .2s ease-in forwards
.Logo
  width 100%
.item
  opacity 0
  animation opacityTranslation .2s ease-in forwards
  //animation-fill-mode forwards
.item:nth-child(1)
  animation-delay .1s
.item:nth-child(2)
  animation-delay .2s
.item:nth-child(3)
  animation-delay .3s
.item:nth-child(4)
  animation-delay .4s
.item:nth-child(5)
  animation-delay .5s
.item:nth-child(6)
  animation-delay .6s

.menuContainer
	width 100%
	position relative
	display inline-block

.Menu
	position relative
	display inline-block
	width 100%


.menuHeaderImg
	display inline-block
	width 60%
	margin-top 5%
	margin-left 20%

/**** COMPOSITIONS ****/
.titleBack
  width 100%
  position fixed
  background white
  h2
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    font-size 1.2em
    letter-spacing 5px
    color #5c74c0
.arrow
  width 10%
  margin 4%

.search
  font-family circularStdItalic
  display inline-block
  padding 4%
  padding-top 28%
  padding-bottom 6%
  width 92%
  background #EEE
  color $lightpurple
  p
    display inline-block
    font-size 0.8em
  input
    background #EEE
    color $lightblue
    border solid 2px $lightblue
    border-radius 50px
    width 80%
    font-size 0.9em
    margin-top 5%
    float right
.menuLink
  background-image: url("./assets/images/menu/menu.png");
  //animation: backgroundTranslation 5s infinite linear;
.option
  width 60%
  float right
  color $lightblue
  p
    display inline-block
    float right
    font-size 0.9em
    width 30%
    margin-left 15%
    padding 2px
    text-align center
    border solid 2px $lightblue
    border-radius 50px
.itemComp
  position relative
  display block
  img
    width 100%
.itemAtr
  padding-left 5%
  letter-spacing 2px
  margin-top 10px
  margin-bottom 10px
  font-variant small-caps
  background white
  p:nth-child(1)
    color $lightpurple
    margin-bottom 5px
  p:nth-child(2)
    font-size 0.8em
    color $darkpurple
.fav
  position absolute
  left 5%
  top 0
.playerImg
  width 100%
.playerBot
  margin-left 10%
  margin-top 15%
  width 80%
@keyframes opacityTranslation {
    from {
      opacity 0
      transform translate(0,30%)
    }
    to {
      transform translate(0,0%)
      opacity 1
    }
}
